.header-wrap{
	max-height: 150px;
	padding: 20px;
	border: 1px solid black;
}

.full-wrap{
	display: flex;
	height: 90%;
	margin: 10px 0px;
}

.left-wrap{
	width: 200px;
	margin-right: 10px;
	border: 1px solid black;
	background: #afbdd3;
}

.body-wrap{
	padding: 20px;
	width: 100%;
	height: 390%;
/* 	border: 1px solid black;*/
}

.footer-wrap{
	clear: both;
	max-height: 300px;
	margin-top: 130%;
	height: 100px;
	padding: 20px;
	border: 1px solid black;
}