.header-wrap{
	max-height: 150px;
	padding: 20px;
	position: absolute;
}

/* .full-wrap{
	display: flex;
	height: 100%;

} */

.left-wrap{
	width: 200px;
	background-color: #000;

 	/*height: 100%;  */
	
	display: block;
	overflow: auto;
}

.body-wrap{
	
	padding: 20px;
	width: 100%;
	 positon: absolute;
	/*height: 100%; */
	
	display: block;
	overflow: auto;
/* 	border: 1px solid black;*/
}

.footer-wrap{
	clear: both;
	padding: 20px;
	border: 1px solid black;
}