.header-wrap{
	max-height: 150px;
	padding: 20px;
	position: absolute;
}
.left-wrap{
	padding-right: 30px;
	padding-left:0px;
	height: 100%;
	background-color: #000;
	position: fixed;
	display: block;
	float: left;
	overflow-y:scroll; 

}

.body-wrap{
	padding-right: 70px;
	padding-top: 90px;
	float: right;
	width: 80%;
	display: block;
	overflow: auto;
}

.footer-wrap{
	clear: both;
	padding: 20px;
	border: 1px solid black;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}